* {
  box-sizing: border-box;
}

.nav-search {
  padding: 25px 0px;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.logo {
  animation: logo-spin infinite 10s linear alternate;
  pointer-events: none;
  max-width: "300px";
}

@keyframes logo-spin {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(-90deg);
  }
}

.nav-search-bar {
  padding-left: 30px;
}

.nav-search-bar div {
  display: flex;
  justify-content: space-between;
}

.nav-search h1 {
  margin: 0;
  text-align: center;
  font-size: calc(12px + 3vmin);
}

.nav-search input {
  outline: none;
  color: black;
  width: 100%;
  padding: 0 5px;
  height: calc(11px + 2vmin);
  font-size: calc(8px + 2vmin);
}

.nav-search button {
  padding: 1px 25px;
  background-color: #00864e;
  color: white;
  font-size: calc(5px + 2vmin);
  border: none;
  border-radius: 0 5px 5px 0;
}
.nav-search button:hover {
  background-color: #005f37;
  cursor: pointer;
}

.profiles-paper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.loader {
  margin: auto;
  display: flex;
  justify-content: center;
}

.profile-cards {
  display: block;
  margin-top: 25px;
  margin-right: 25px;
}

.profile-cards h4 {
  justify-content: center;
}

.profile-cards:hover {
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  cursor: pointer;
}

.image-rectangle {
  overflow: hidden;
  border-radius: 50%;
}

.image-rectangle img {
  padding: 10px;
  width: 200px;
  height: auto;
}

.profile-cards h4 {
  text-align: center;
  font-size: calc(10px + 60%);
}

.modal-window {
  position: fixed;
  width: 70%;
  height: 50%;
  z-index: 1000;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
  background-color: #f0f0f0;
  border-radius: 25px;
}

.modal-window hr {
  margin: 0;
}

.modal-window-header {
  height: 20%;
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  align-items: center;
}

.modal-window-header h1 {
  margin: 0;
}

.modal-window-exit-button {
  content: url("./icons/close-icon.svg");
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.modal-window-content {
  display: flex;
  width: 100%;
  height: 80%;
  color: #222;
  align-items: center;
  justify-content: center;
}

.modal-window-content img {
  margin-top: -3px;
  height: calc(100% - 1px);
  width: auto;
  border-radius: 0 0 0 25px;
}

.modal-window-text {
  padding: 0 25px;
  width: 70%;
}

.modal-window-text-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modal-window-text h1,
h2,
h3,
h4 {
  padding: 10px 0;
  display: flex;
  margin: 0;
  align-items: center;
  text-align: justify;
}

.modal-window-text-header h2 {
  width: 75%;
}

.modal-window-no-repos,
.modal-window-link-github {
  width: 25%;
  margin: 15px 0;
  padding: 1%;
  border-radius: 5px;
  background-color: #cf5d00;
  color: #fff;
  text-align: center;
}

.modal-window-link-github {
  width: auto;
  margin: 15px 0;
  background-color: #0880af;
}
a {
  text-decoration: none;
  color: #fff;
}

.modal-window-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.85;
  z-index: 900;
}

@media only screen and (max-width: 1000px) {
  .modal-window-header {
    height: 10%;
    display: flex;
    justify-content: space-around;
    padding: 0px 10px;
    align-items: center;
  }

  .modal-window {
    padding-bottom: 10%;
    position: fixed;
    width: auto;
    height: auto;
    z-index: 1000;
    top: 10%;
    background-color: #f0f0f0;
    border-radius: 25px;
  }

  .modal-window-content {
    display: block;
  }

  .modal-window-content {
    width: 100%;
  }

  .modal-window-content img {
    margin-top: -1px;
    width: 70%;
    height: auto;
    border-radius: 25px;
    margin-left: 15%;
  }

  .modal-window-text {
    padding: 5px;
    width: 100%;
  }

  .modal-window-text-header {
    display: block;
  }

  .modal-window-text-header h2 {
    width: 100%;
  }

  .modal-window-no-repos,
  .modal-window-link-github {
    width: 100%;
    margin: 0px;
  }
}
